
/* -------------------------- contact page ---------------------------*/


.contactSection{
    padding: 50px 100px;
  }
  
  .textInput{
    width : 100%;
    height : 30px;
  }
  
  .inputLong{
    height : 150px;
  }
  
  .submitButton{
    display :flex;
    flex-flow : row wrap;
    justify-content: center;
  }
  
  .submitButton input {
    background-color: #3867BC;
    color :white;
    font-weight: bold;
    height: 35px;
    width: 120px;
    border : white;
    font-size: 14px;
    margin-right:15px;
  }
  
  
  .submitButton input::placeholder{
    color:#bbb;
  }
  
  .submitButton button{
    border :grey;
    width: 60px;
    color : #645D42;
  
  }