
/* -------------------------- contact page ---------------------------*/

.innerApp{
  height: 100%;
  margin : 0 auto;
  width : 1267px;
 
}

/* .contact-section{
  padding: 50px 100px;
} */

.text-input{
  width : 100%;
  height : 30px;
}

#input-content{
  height : 150px;
}

.submit-button{
  display :flex;
  flex-flow : row wrap;
  justify-content: center;
}

.submit-button input {
  background-color: #3867BC;
  color :white;
  font-weight: bold;
  height: 35px;
  width: 120px;
  border : white;
  font-size: 14px;
  margin-right:15px;
}


.submit-button input::placeholder{
  color:#bbb;
}

.submit-button button{
  border :grey;
  width: 60px;
  color : #645D42;

}


